.rating{
    margin: 15px 0;
    color: gold;
}
.red{
    color: red;
}




.rating i {
    font-size: 1.2rem; /* Размер звезды, можно настроить по мере необходимости */
    margin-right: 2px; /* Расстояние между звездами, можно настроить по мере необходимости */
}
